<?xml version='1.0'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Properties -->
        <!-- Hibernate configuration properties -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">false</property>

        <!-- Hibernate properties related to JDBC and connections -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- Local database -->
        <property name="connection.url">jdbc:mysql://localhost:3306/smartcity</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!-- Distante database -->
        <!--<property name="connection.url">jdbc:mysql://smartcity.cfdzynfzg5h9.us-west-2.rds.amazonaws.com:3306/smartcity</property>-->
        <!--<property name="connection.username">admin</property>-->
        <!--<property name="connection.password">SmartCity2017</property>-->

        <!-- A mettre en commentaire si la base de données est distante -->
        <property name="connection.useSSL">true</property>

        <property name="connection.pool_size">10</property>
        <property name="connection.isolation">2</property>
        <property name="connection.autocommit">true</property>
        <property name="connection.serverTimezone">CET</property>
        <property name="connection.useJDBCCompliantTimezoneShift">true</property>
        <property name="connection.useLegacyDatetimeCode">false</property>
        <property name="connection.useUnicode">true</property>

        <!-- Configuration Pool via C3P0 -->
        <property name="c3p0.acquire_increment">1</property>
        <property name="c3p0.idle_test_period">60</property>
        <property name="c3p0.max_size">10</property>
        <property name="c3p0.max_statements">50</property>
        <property name="c3p0.min_size">1</property>
        <property name="c3p0.timeout">0</property>
        <property name="c3p0.acquireRetryAttempts">1</property>
        <property name="c3p0.acquireRetryDelay">250</property>

        <!-- Various properties -->
        <property name="current_session_context_class">thread</property>
        <property name="enable_lazy_load_no_trans">true</property>
        <property name="bytecode.use_reflection_optimizer">false</property>

        <!-- Mapping files -->
        <mapping resource="ch/smartcity/database/resources/hibernate/mappings/adresse.hbm.xml"/>
        <mapping resource="ch/smartcity/database/resources/hibernate/mappings/commentaire.hbm.xml"/>
        <mapping resource="ch/smartcity/database/resources/hibernate/mappings/confiance.hbm.xml"/>
        <mapping resource="ch/smartcity/database/resources/hibernate/mappings/evenement.hbm.xml"/>
        <mapping resource="ch/smartcity/database/resources/hibernate/mappings/nationalite.hbm.xml"/>
        <mapping resource="ch/smartcity/database/resources/hibernate/mappings/npa.hbm.xml"/>
        <mapping resource="ch/smartcity/database/resources/hibernate/mappings/priorite.hbm.xml"/>
        <mapping
                resource="ch/smartcity/database/resources/hibernate/mappings/rubriqueEnfant.hbm.xml"/>
        <mapping
                resource="ch/smartcity/database/resources/hibernate/mappings/rubriqueParent.hbm.xml"/>
        <mapping resource="ch/smartcity/database/resources/hibernate/mappings/rue.hbm.xml"/>
        <mapping resource="ch/smartcity/database/resources/hibernate/mappings/sexe.hbm.xml"/>
        <mapping resource="ch/smartcity/database/resources/hibernate/mappings/statut.hbm.xml"/>
        <mapping resource="ch/smartcity/database/resources/hibernate/mappings/titreCivil.hbm.xml"/>
        <mapping resource="ch/smartcity/database/resources/hibernate/mappings/utilisateur.hbm.xml"/>
    </session-factory>
</hibernate-configuration>